# ---  DATA/TOOL PATHS ---
# REMOTE GENOME
#   Path to remote genome location to be downloaded through HTTP transfer.
# remote_genome_path:

# LOCAL REFERENCE GENOME / SAMPLES PATHS
genome: /students/2019-2020/Thema11/Dataprocessing/nsvandervegt_data/reference/genome_hg19.fa
genome_build: hg19
#   Samples should follow {sample}_{R1/R2}.fastq naming convention.
samples:
  A: /students/2019-2020/Thema11/Dataprocessing/nsvandervegt_data/samples/sample1_L001

# LOCAL TOOL PATHS
trimmomatic_tool: /students/2019-2020/Thema11/Dataprocessing/nsvandervegt_data/tools/trimmomatic-0.32-1/jar/trimmomatic.jar
picard_tool: /students/2019-2020/Thema11/Dataprocessing/nsvandervegt_data/tools/picard/picard.jar
varscan_tool: /students/2019-2020/Thema11/Dataprocessing/nsvandervegt_data/tools/varscan-v2.3.9/VarScan.jar
annovar_tool: /students/2019-2020/Thema11/Dataprocessing/nsvandervegt_data/tools/annovar/

# NOTEBOOK PATH
#   Path to the notebook that should be used as a template for final analysis.
notebook: notebook_templates/diagnostic_genome_analysis.ipynb

# --- SETTINGS ---
# CHROMOSOMES
#   Insert chromosome numbers / letters of interest for analysis.
chromosomes: [2, 3, 6, 10, 14, 17, 18, 20, X]

# TRIMMOMATIC
illumina_clip: /students/2019-2020/Thema11/Dataprocessing/nsvandervegt_data/tools/trimmomatic-0.32-1/share/TruSeq3-PE.fa

# ANNOVAR DATABASES
#   Most of the time the file corresponding to the database will be "databaseX.txt", however some databases
# (e.g. human genome project) download multiple files, when this is the case the file will have to be
# specified.
#   Operations refer to how the database should be used, e.g. gene based (g) or filter based (f).
annovar_db_storage: /students/2019-2020/Thema11/Dataprocessing/nsvandervegt_data/annovar_dbs/
annovar_dbs:
  refGene:
    file: refGene.txt
    operation: g
  exac03:
    file: exac03.txt
    operation: f
  avsnp138:
    file: avsnp138.txt
    operation: f
  ljb26_all:
    file: ljb26_all.txt
    operation: f
  clinvar_20190305:
    file: clinvar_20190305.txt
    operation: f

# MULTITHREADING
#   The no. threads to reserve for the downloading of Annovar databases (recommended: 0 or 1).
reserve_annovar_db_thread: 1